# Node
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env
.env
.env.local

# Vite
.vite/

# VSCode
.vscode/

# System
.DS_Store

# Local History (VS Code extension)
.history/
node_modules
